<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head") %>
</head>

<body class="container">

  <header>
    <%- include ("../partials/header") %>
  </header>

  <main>
    <div style="margin-top: 25px; min-width: 500px;">
      <div class="row">
        <div class="col">
          <div class="jumbotron shadow p-3 mb-5 bg-white rounded" style="padding:25px;">
            <h1><span class="badge badge-light"><%=user.username%></span></h1>

            <div class="container-sm">
              <p style="margin: auto;">Hello <%=user.username%>!</p>
              <p>Joined Linker on <%=user.date_created.toISOString().split("T")[0]%></p>
            </div>
            <br>
          </div>

          <div class="shadow p-3 mb-5 bg-white" style="margin-top: 20px; padding: 20px;">
            <h3 style="text-align: center">Update account information</h3>

            <div class="jumbotron" style="margin-top: 20px; padding: 20px; background: white;">
              <form class="form-inline" method="post" action="/uemail">
                <div class="form-group mb-2">
                  <label for="inputPassword2" class="sr-only">Password</label>
                  <input class="form-control" name="email" placeholder="<%=user.email%>">
                </div>
                <button type="submit" class="btn btn-primary mb-2"style="margin-left: 50px">Change Email</button>
              </form>

              <form class="form-inline" method="post" action="/ubio">
                <div class="form-group mb-2">
                  <label for="inputPassword2" class="sr-only">Password</label>
                  <input class="form-control" name="bio" placeholder="<%=user.bio%>">
                </div>
                <button type="submit" class="btn btn-primary mb-2"style="margin-left: 50px">Change Bio</button>
              </form>

            </div>
            
          </div>
          
          <div class="jumbotron shadow p-3 mb-5 bg-white rounded" style="padding:25px;">
            <h1>Followers</h1>
            <% followers.forEach(follower => { %>
            <a href="/user/<%=follower.username%>"><%= follower.username %> </a> <br>
            <% }) %>

          </div>

          <div class="jumbotron shadow p-3 mb-5 bg-white rounded" style="padding:25px;">
            <h1>Following</h1>
            <% following.forEach(f => { %>
            <a href="/user/<%=f.username%>"><%= f.username %> </a> <br>
            <% }) %>

          </div>
        </div>
        <div class="col">
          <div class="shadow p-3 mb-5 bg-light" style="padding:20px">
            <h3>Create Post</h3>

            <% if (typeof message !== 'undefined' ) { %>
            <p style="font-size: small; color: red;"><%= message %></p>
            <% } %>

            <% if (messages.error) {%>
            <%=   messages.error %>
            <% } %>

            <form action="/newpost" method="post">
              <div class="form-group">
                <input name="title" class="form-control" placeholder="Title">
                <textarea name="content" class="form-control" rows="3" placeholder="Got something to say?"></textarea>
                <div class="form-check form-check-inline" style="float: right">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="public">
                  <label class="form-check-label" for="inlineCheckbox1">Public</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Make Post</button>
              </div>
            </form>


          </div>
          <% if(typeof posts !== 'undefined') { %>
          <% posts.forEach(element => { %>
          <%- include ("../partials/post", {post: element}) %>
          <% }); %>
          <% } %>
          <div class="jumbotron shadow p-3 mb-5 bg-white" style="padding:25px;">
            <h4>No more posts!</h4>
          </div>
        </div>
      </div>
    </div>
    
  </main>

  <footer>
    <%- include ("../partials/footer") %>
  </footer>

</body>

</html>