<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body>

    <header>
        <%- include ("../partials/header") %>
    </header>

    <main>
        <div class="jumbotron shadow-sm bg-white rounded reg-card">
            <h1 class="center-txt">Login</h1>


            

            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>

                    <% if (typeof message !== 'undefined' ) { %>
                    <p style="font-size: small; color: red;"><%= message %></p>
                    <% } %>
        
                    <% if (messages.error) {%>
                    <p style="font-size: small; color: red; text-align: center;"><%= messages.error %></p>
                    <% } %>


                <div class="login-btn">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <p class="login-register-txt">Don't have an account? Click here to <a class="reg-link"
                    href="/register">Register</a>.</p>
        </div>
    </main>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>