<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron">
        <h1>Create Post</h1>
        
        <% if (typeof message !== 'undefined' ) { %>
            <p style="font-size: small; color: red;"><%= message %></p>
            <% } %>

        <% if (messages.error) {%>
        <%=   messages.error %>
        <% } %> 
        
        <form action="/newpost" method="post">
            <div class="form-group">
                <label>Title</label>
                <input name="title" class="form-control" placeholder="Post Title!">
                <br>
                <label>Content</label>
                <textarea name="content" class="form-control" rows="3" placeholder="Hello World!"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Make Post</button>
            </div>
        </form>
        

    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>