<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron shadow-sm bg-white rounded reg-card">
        <h1 class="center-txt">Register</h1>

        <form action="/register" method="post">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" name="username" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <% if (typeof message !== 'undefined' ) { %>
                <p style="font-size: small; color: red; text-align: center"><%= message %></p>
                <% } %>
        
                <% if (messages.error) {%>
                <%=   messages.error %>
                <% } %>

            
            <div class="login-btn">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        <p class="login-register-txt">Already registered? Click here to <a class="reg-link"
                href="/login">Login</a>.</p>
    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>